.İleriAdim{
    background-color: #009e00;
    color:#fff;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.İleriAdim:hover{
    background-color: green;
}
.İleriAdim[disabled]{
    display: none;
}
.sonSayfa{
    text-align: center;
}
.sonSayfa h1{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial,sans-serif;
    font-weight: bold;
    color: #008416;
    text-transform: none;
    text-shadow: none;
}
.geri{
    background-color:yellow;
    color:black;
    padding: 7px 15px;
    border: 1;
    border-radius: 5px;
    cursor: pointer;
}
.geri:hover{
    background-color:gold;
}